:root {
    --grey: #B3B6B7;
    --red: #6F1A07;
    --dark: #00120B;
}

html {
    background-image: linear-gradient( to bottom right, var(--dark), Var(--red));
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    color: aliceblue;
    text-align: center;
}

.yes {
    display: flex;
    justify-content: center;
    flex-direction: column;
}